<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

	<head>
		<meta charset="UTF-8" />
		<title>Home</title>
	</head>

	<body>
		<section>

			<div class="bg-section">
			    <div class="hero-content">
			        <h1>Welcome to GlamGlove</h1>
			        <p>Discover  latest trends and<br> categories handpicked  for you</p>
			        <button class="explore-btn">Explore Categories</button>
			    </div>
			</div>

		</section>
	</body>

</html>